

.pricing .card {

  background-color: white;
  border-radius: 1rem;
  transition: all 0.2s;
  
}

.pricing hr {
  margin: 1.20rem 0;
  
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0px;
}

.pricing .card-price .period {
  font-size: 0.9rem;
}

.pricing ul li {
  margin-bottom: 5rem;
}

.pricing .text-muted {
  opacity: 0.9;
}

.pricing .btn {
  font-size: 40%;
  border-radius: 10rem;
  letter-spacing: .1rem;
  
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .pricing .card:hover .btn {
    opacity: 1;
  }
}
